@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* to install font , look for font family and apply here , also add font to index.html */
  font-family: "Source Sans 3", sans-serif;
}

@layer components {
    .input-style{
      width: 100%;
      padding: 2px 5px;
      border-bottom: solid 1px black  ;
      outline: none;
      
    }
    .popup{
      z-index: 100000;
    }
  }